<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Superpower</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <!-- Title -->
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Superpower</a></h1>
        </div>
    </div>
    <!-- Nav Bar -->
    <div class="row m-4 border border-dark">
        <!-- 4 Main Menu Button -->
        <div class="col text-center m-3">
            <a href="home" class="btn btn-outline-primary btn-lg">Home</a>
        </div>
        <div class="col text-center m-3">
            <a href="sighting" class="btn btn-outline-primary btn-lg">Sighting</a>
        </div>
        <div class="col text-center m-3">
            <a href="characters" class="btn btn-outline-primary btn-lg">Character</a>
        </div>
        <div class="col text-center m-3">
            <a href="organization" class="btn btn-outline-primary btn-lg">Organization</a>
        </div>
    </div>
</div>
<!-- End main body -->
    <!-- Adding Form -->
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Add Superpower</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="addSuperpower" method="POST">
                <div class="form-group row">
                    <label for="type" class="col-3 col-form-label">
                        Name</label>
                    <div class="col-9">
                        <input type="type" name="type"
                               id="type" class="form-control"/>
                    </div>
                </div>

                    <button type="submit" class="btn btn-primary">Add Superpower</button>
            </form>
        </div>
    </div>
    <!-- List of Superpower -->
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Superpower</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="superpower : ${superpowers}">
                    <td th:text="${superpower.superpowerId}">Superpower ID</td>
                    <td th:text="${superpower.type}">Type</td>
                    <td><a href="#" th:href="@{/editSuperpower(id=${superpower.superpowerId})}">Edit</a></td>
                    <td><a href="#" th:href="@{/deleteSuperpower(id=${superpower.superpowerId})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
